header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 2.6rem 0;
  transition: .5s;

  &.sticky {
    padding: .5rem 0;
    background-color: rgba($dark, .95);
    backdrop-filter: blur(2px);

    &:hover {
      background-color: $dark;
    }
  }

  &.hidden {
    transform: translateY(-100%);
  }
}

.menu {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    margin: 0 1rem;
  }

  @include media-breakpoint-up(xl) {
    gap: 2rem;
    margin: 0 2rem;
  }

  li {
    position: relative;

    a {
      text-decoration: none;
      display: inline-block;
      color: $white;
      font-weight: 700;
      line-height: 2.666em;
      padding: 5px 20px;
      border: 1px solid transparent;
      transition: color .3s, border-color .3s;
      min-width: 144px;
      text-align: center;
    }

    &:hover {
      > a {
        border-color: $white;
      }
    }

    &.menu-item-has-children {
      > a {
        text-align: left;
        position: relative;

        &:after {
          margin-left: 1em;
          margin-bottom: .3em;
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7px 7px 0 8px;
          border-color: $white transparent transparent transparent;
          display: inline-block;
          vertical-align: middle;
          transition: transform .3s;
        }
      }

      .sub-menu {
        padding: 0;
        margin: 0;
        list-style: none;
        position: absolute;
        top: 100%;
        left: 0;
        transition: opacity .3s, visibility 0s .3s;
        opacity: 0;
        visibility: hidden;

        a {
          font-weight: normal;
          text-align: left;
          transition: color .3s, background-color .3s;
          border-color: $dark;
          border-top: 0;

          &:hover {
            background-color: $white;
            color: $black;
          }
        }
      }

      &:hover {
        > a {
          &:after {
            transform: scaleY(-1);
          }
        }

        .sub-menu {
          transition: opacity .3s, visibility 0s 0s;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

header {
  &.sticky {
    .menu {
      li {
        &.menu-item-has-children {
          &:hover {
            > a, .sub-menu {
              background-color: $dark;
            }
          }
        }
      }
    }
  }
}

.search-form {
  position: relative;
  line-height: 1;

  .search-field {
    border-radius: 50px;
    border: 0;
    height: 58px;
    padding: 0 26px;
    background-color: $white;

    &::placeholder {
      color: $grey;
    }

    &_fade-in {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity .3s .6s, visibility 0s .9s;
      opacity: 0;
      visibility: hidden;
      width: 340px;

      &:focus, &:hover, &:active {
        transition: opacity .3s, visibility 0s;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &:focus, &:hover, &:active {
    .search-field_fade-in {
      transition: opacity .3s, visibility 0s;
      opacity: 1;
      visibility: visible;
    }
  }

  .search-toggle {
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 21px;
    height: 21px;
    cursor: pointer;
  }

}

.mobile-toggle-wrapper {
  cursor: pointer;
}

.mobile-toggle {
  width: 40px;
  height: 4px;
  position: relative;
  background-color: $white;
  transition: background-color .3s .3s;

  &:before, &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
  }

  &:before {
    top: -10px;
    transition: top .3s .3s, transform .3s;
  }

  &:after {
    bottom: -10px;
    transition: bottom .3s .3s, transform .3s;
  }
}

.menu-mobile-wrapper {
  width: 300px;
  text-align: center;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(300px, -50%);
  transition: transform .8s;

  .menu-mobile {
    flex-direction: column;

    li {
      &.menu-item-has-children {
        .sub-menu {
          background-color: $dark;
          z-index: 1;
        }
      }
    }
  }

  .search-form .search-field {
    width: 240px;
    margin-top: 1rem;
    margin-inline: auto;
  }
}


body {
  &.mobile-menu-opened {
    .mobile-toggle {
      background-color: transparent;
      transition: background-color .3s;

      &:before {
        top: 0;
        transition: top .3s, transform .3s .3s;
        transform: rotate(45deg);
      }

      &:after {
        bottom: 0;
        transition: bottom .3s, transform .3s .3s;
        transform: rotate(-45deg);
      }
    }

    .menu-mobile-wrapper {
      transform: translate(0, -50%);
      transition: transform .8s .2s;
    }

    header {
      &.hidden {
        transform: none;
      }
    }

  }
}

@include media-breakpoint-up(lg) {
  header {
    &:not(.sticky) {

      .search-form {
        .search-toggle {
          svg {
            path {
              transition: stroke .3s .6s;
            }
          }

          &:hover {
            svg {
              path {
                stroke: $dark;
              }
            }
          }
        }

        .search-field_fade-in {
          color: $white;
          background-color: $dark;
        }

        .search-field_fade-in {
          &:hover, &:focus, &:active {
            + .search-toggle {
              svg {
                path {
                  stroke: $dark;
                }
              }
            }
          }
        }

        &:hover {
          .search-toggle {
            svg {
              path {
                stroke: $dark;
                transition: stroke .3s;
              }
            }
          }
        }
      }

      .menu {
        li {
          a {
            &:hover {
              color: $dark;
              border-color: $dark;
            }
          }

          &.menu-item-has-children {
            > a {
              &:after {
                transition: border-color .3s;
              }
            }

            .sub-menu {
              a {
                border-color: $dark;
                background-color: $dark;
                color: $white;

                &:hover {
                  color: $dark;
                  background-color: $white;
                }
              }
            }

            &:hover {
              > a {
                color: $dark;
                border-color: $dark;

                &:after {
                  border-color: $dark transparent transparent transparent;
                }
              }
            }
          }
        }
      }
    }
  }
}