// Fonts
$font-primary: 'Inter', sans-serif;

// Colors
$blue:        #0094FF;
$beetroot:    #421712;
$black:       #000000;
$dark:        #1F1F1F;
$dark-alt:    #2E3336;
$dark-sec:    #353535;
$grey:        #838383;
$white:       #FFFFFF;
$white-alt:   #F3F3F3;
$white-sec:   #E4F4FF;